img {
    float: left;
  }

/* CONTENT FORMATTING */

.title{

  color:#4aaaa5;
  border-bottom:2px solid #cccccc;
}


.content{

  width:960px;
  height:500px;
  top:50px;
  margin: 100px auto 100px auto;
  position:relative;
  background-color: #ffffff;
  padding: 20px;
  border: 2px solid #cccccc;
}
